@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&family=Georama:wght@100;200;300;400;500;600;700;800;900&family=Licorice&family=Gabriela&family=Bodoni+72:ital,wght@0,400;0,700;1,400;1,700&family=Martel:wght@200;300;400;600;700;800;900&display=swap');

@import "tailwindcss";

@theme {
  --font-instrument: "Instrument Sans", sans-serif;
  --font-georama: "Georama", sans-serif;
  --font-licorice: "Licorice", cursive;
  --font-gabriela: "Gabriela", serif;
  --font-bodoni: "Bodoni 72", serif;
  --font-martel: "Martel", serif;
}